<p>Hello <%= @user.name%></p>
<p>
  Welcome to Ashok Estore, Use below code to avail 40% discount at your
  first purchase .<p>Coupon Code: XCNH345OFF </p>
</p>

<p>
  Store Manager,
  <p>
    Ashok
  </p>
</p>
